@model IEnumerable<WebCRUD.SedeCLS>

@{
    ViewData["Title"] = "Index";
}

<h1>SEDE</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.iidSede)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.iidSede)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                <i class="fa fa-trash-o btn btn-danger"
                   onclick="EliminarSede(@item.iidSede)"></i>


                <a class="fa fa-pencil-square-o btn btn-primary" asp-action="Edit"
                   asp-controller="Sede" asp-route-id="@item.iidSede"></a>
            </td>
        </tr>
}
    </tbody>
</table>


<form asp-action="Delete" asp-controller="Sede" method="post" id="frmEliminar">
    <input type="hidden" id="txtIDInfo" name="iidSede" />
</form>

<script>
    //function Limpiar() {
    //    document.getElementById("nombre").value = "";
    //    document.getElementById("frm-formulario").submit();
    //}

    function EliminarSede(iidSede) {
        document.getElementById("txtIDInfo").value = iidSede;

        Swal.fire({
            title: "Desea eliminar el registro?",
            text: "Desea eliminar la informacion en la base de datos",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si!'
        }).then((result) => {
            if (result.value) {
                //enviar a base de datos
                var frmEliminar = document.getElementById("frmEliminar");
                frmEliminar.submit();
            }
        })

    }

</script>